/* .home_content{
    background-color: rgba(255, 255, 255, 1);
} */
.home_cont_svg{
    fill: rgb(162, 162, 162);
  
}
.homecont_para {
    /* color: rgb(109, 103, 103); */
    color: #2C2C2C;
    line-height: 32px;
    font-size: 18px;
    text-align: justify;
    text-justify: auto;
    font-family: "Avenir";
}













.project-detail {
    text-align: center;
    padding: 20px;
}

.project-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.project-detail p {
    font-size: 18px;
    margin: 10px 0;
}





